<div style="text-align: left">
  <button [disabled]="tempsCalcul != 0" [style.color]="'green'" mat-fab aria-label="Lancer la generation des Solutions" (click)="genererLesSolutions()" extended>
    {{genererSoulutionsTitre}}
    <mat-icon>construction</mat-icon>
  </button>
  <button [disabled]="!tempsCalcul" [style.color]="'red'" mat-fab aria-label="supprimer toutes les solutions" (click)="supprimerLesSolutions()" extended>
    {{supprimerSoulutionsTitre}}
    <mat-icon>delete_forever</mat-icon>
  </button>
</div>
<div><div [hidden]="!tempsCalcul || tempsCalcul ==0">{{listeDesSolutionsTitre}}{{tempsCalcul}}{{"ms"}}</div>
  <mat-form-field>
    <mat-label>Rechercher dans le tableau</mat-label>
    <input [disabled]="!listeSolutions || listeSolutions.solutions.length == 0" matInput (keyup)="applyFilter($event)" placeholder="1,4,8.." #input>
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)">

    <!-- Id -->
    <ng-container matColumnDef="id">
      <th style="text-align: center" mat-sort-header *matHeaderCellDef> No.</th>
      <td style="text-align: center" mat-cell *matCellDef="let element"> {{ element.id }}</td>
    </ng-container>

    <!-- Numerotation -->
    <ng-container matColumnDef="numerotation">
      <th style="text-align: center" mat-header *matHeaderCellDef> Valeurs </th>
      <td style="text-align: center" mat-cell class="agrandirPolice" *matCellDef="let element"> {{ element.valeurs | uppercase}}</td>
    </ng-container>

    <!-- Statut -->
    <ng-container matColumnDef="statut">
      <th style="text-align: center" mat-sort-header *matHeaderCellDef> Statut </th>
      <td style="text-align: center" *matCellDef="let element"><mat-checkbox disabled [(ngModel)]="element.statut"></mat-checkbox><div *ngIf="element.statut">{{correcte}}</div><div *ngIf="!element.statut">{{incorrecte}}</div></td>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header *matHeaderCellDef> Actions</th>
      <td mat-cell  style="text-align: center" *matCellDef="let element">
        <button mat-fab class="actions" color="gray" aria-label="afficher le détail de la solution" (click)="detail(element.id)">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-fab class="actions" color="gray" aria-label="Modifier la solution" (click)="modifier(element.id)">
          <mat-icon>edit_square</mat-icon>
        </button>
        <button mat-fab class="actions" color="gray" aria-label="Supprimer la solution" (click)="supprimerSolution(element.id,element.index)">
          <mat-icon>delete</mat-icon>
        </button>

      </td>
    </ng-container>

    <tr mat-header-row  *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td *ngIf="listeSolutions && listeSolutions.solutions.length > 0" class="mat-cell" colspan="4">Aucune solution trouvée contenant "{{input.value}}"</td>
      <td *ngIf="!listeSolutions || listeSolutions.solutions.length == 0" class="mat-cell" colspan="4">Aucune solution générée pour l'instant</td>
    </tr>

  </table>
  <mat-paginator #paginator
                 [pageSizeOptions]="pageSizeOptions"
                 [pageIndex]="0"
                 aria-label="Select page">
  </mat-paginator>
</div>

